body {
  background: linear-gradient(90deg, #02537f 10%, #ffffff 100%, #02537f 10%);
  font-family: "Jost", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #ffffff;
  --color-secondary: #0089d3;
  --color-tertiary: #0172af;
  --color-quaternary: #02537f;
  --color-quinary: #012335;
}



.content {
  display: flex;
  align-content: center;
  justify-content: center;
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }

  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }

  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }

  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }

  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }

  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }

  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }

  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }

  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }

  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }

  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }

  40% {
    transform: translate(-12px, -12px);
  }

  50% {
    transform: translate(-12px, -12px);
  }

  60% {
    transform: translate(-12px, -12px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.container {
  max-width: 500px;
  margin: 20px auto;
}

.form {
  background-color: #ffffff5c;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  flex: 1;
}

.input:focus,
.add:focus {
  outline: none;
}

.add {
  border: none;
  background-color: #00a6ff;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}

.tasks {
  background-color: #ffffff5c;
  margin-top: 20px;
  border-radius: 6px;
  padding: 20px;
}

.tasks .task {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #ccc;
}

.tasks .task:not(:last-child) {
  margin-bottom: 15px;
}

.tasks .task:hover {
  background-color: #f1f1f1;
}

.tasks .task.done {
  opacity: 0.5;
  position: relative;
}

.task.done::after {
  position: absolute;
  content: "";
}

.tasks .task span {
  font-size: 10px;
  text-transform: uppercase;
  background-color: #00a6ff;
  color: white;
  padding: 6px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-all {
  max-width: calc(100% - 25px);
  margin: auto;
  padding: 12px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: white;
  background-color: #00a6ff;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
}